[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "vim-livedown"]
	path = vim-livedown
	url = git://github.com/shime/vim-livedown.git
[submodule "bundle/live-down"]
	path = bundle/live-down
	url = https://github.com/shime/vim-livedown
